<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="concorrente">Associar novo concorrente ao grupo</h1>
        <%= render 'shared/concorrente_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
