*.*~
*~
*.hi
*.o
*.a
*.tar.gz
*.zip
*.rar
*.swp
*.toc
*.out
*.log
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pid
*.tex.backup
*.lof
*.lot
*.tgz
*.bbl
*.blg
*.fdb_latexmk
*.gz
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.mlt*
*.mtc*
*.mlf*
*.maf
*.lot
*.p_o
*.p_hi
