<tr>
  <td class="enunciados">
    <%= link_to enunciado.titulo, enunciado %>
	<% if signed_in? %>
		<% if (current_user.admin?)  %>
		  <td>
		    <%= link_to "delete", enunciado, :method => :delete,
		                                     :confirm => "You sure?",
		                                     :title => enunciado.titulo %>
		  </td>
		  <td>
		    <%= link_to "editar",edit_enunciado_path(enunciado) %>
		  </td>
	    <% end %>
    <% end %>


  </td>
</tr>
