<% if current_user && current_user.admin?%>
	<li><%= link_to "Funções", functions_path %></li>
	<li><%= link_to "Funções nova", new_function_path %></li>

	<li><%= link_to "Linguagens", languages_path %></li>
	<li><%= link_to " nova linguagem", new_language_path %></li>
<% end %>