<table class="enunciado" summary="concorrentes do grupo">
	<tr>
	  <td class="enunciado">
		
		
		<table class="enunciado" summary="concorrentes do grupo">
			<tr>
			  <td class="enunciado">
		
					<h1>Tentativa</h1>
						
					<b>Path:	</b><br/><%= @tentativa.path %><br/>
					<b>Compilou: </b><%= @tentativa.compilou %><br/>
					<b>Codigo Submetido:</b><br/><br/>
					<% @codigo.each do |linha| %>
					<%= linha %><br/>
					<% end %>
						
				</td>
			</tr>
		</table>

		</td>
		<%= render 'sidebar' %>
	</tr>
</table>