<table class="concurso" summary="Informacao concurso">
	<tr>
		<td>
			<% if @concursos.empty? %>
				<h1>Não existem concursos!</h1>
			<% else %>
				<h1>Concursos</h1>


				<%= will_paginate %>

				<ul class="concursos">
				  <%= render @concursos %>
				</ul>

				<%= will_paginate %>
			</td>
		<% end %>
		
		<td class="sidebar round">
			<% if current_user.admin? %>
				<%= link_to "Novo concurso",new_concurso_path %>
			<% end%>
		</td>
	
	</tr>
</table>	
